doctype html
html(lang='en', ng-app='app')

  block head
  head

  block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  block title
    title Default Title

  block pre
    link(href=asset_path('css/style.css'), rel='stylesheet')
    script(src=asset_path('js/modernizr.js'))

  block body
  body
    .row
      .large-12.columns

        .nav-bar.right
          ul.button-group
            li #[a.button(href='#') Link 1]
            li #[a.button(href='#') Link 2]
            li #[a.button(href='#') Link 3]
            li #[a.button(href='#') Link 4]

        h1 Blog
          small This is my blog. It's awesome.

    .row
      .large-9.columns(role='content')

        block content
          Default Content

      aside.large-3.columns
        block aside
          h5 Categories
            ul.side-nav
              li #[a(href='#') News]
              li #[a(href='#') Code]
              li #[a(href='#') Design]
              li #[a(href='#') Fun]

            .panel
              h5 Featured
                p Featured Sample Text

  block post
    script(src=asset_path('js/angular.js'))
    script(src=asset_path('js/jquery.js'))
    script(src=asset_path('js/foundation.js'))
    script(src=asset_path('js/fastclick.js'))
    script(src=asset_path('js/client.js'))
