doctype html
html(lang='en', ng-app='app')

  block head
  head

  block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  block title
    title Default Title

  block pre
    link(href=asset_path('css/style.css'), rel='stylesheet')
    script(src=asset_path('js/modernizr.js'))

  block body
  body

  block content
    Default Content

  block post
    script(src=asset_path('js/angular.js'))
    script(src=asset_path('js/jquery.js'))
    script(src=asset_path('js/foundation.js'))
    script(src=asset_path('js/fastclick.js'))
    script(src=asset_path('js/client.js'))
