doctype html
html(lang='en', ng-app='app')

  block head
  head

  block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  block title
    title Default Title

  block pre
    link(href=assets['css/style.css'], rel='stylesheet')
    script(src=assets['js/modernizr.js'])

  block body
  body

  block content
    Default Content

  block post
    script(src=assets['js/angular.js'])
    script(src=assets['js/jquery.js'])
    script(src=assets['js/foundation.js'])
    script(src=assets['js/fastclick.js'])
    script(src=assets['js/client.js'])
